<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>AF</string>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>Afghanistan</string>
		<key>sn</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AL</string>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>Albania</string>
		<key>sn</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>DZ</string>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>Algeria</string>
		<key>sn</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AD</string>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>Andorra</string>
		<key>sn</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AO</string>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>Angola</string>
		<key>sn</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AG</string>
		<key>id</key>
		<integer>6</integer>
		<key>name</key>
		<string>Antigua &amp; Barbuda</string>
		<key>sn</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AR</string>
		<key>id</key>
		<integer>7</integer>
		<key>name</key>
		<string>Argentina</string>
		<key>sn</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AM</string>
		<key>id</key>
		<integer>8</integer>
		<key>name</key>
		<string>Armenia</string>
		<key>sn</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AU</string>
		<key>id</key>
		<integer>9</integer>
		<key>name</key>
		<string>Australia</string>
		<key>sn</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AT</string>
		<key>id</key>
		<integer>10</integer>
		<key>name</key>
		<string>Austria</string>
		<key>sn</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AZ</string>
		<key>id</key>
		<integer>11</integer>
		<key>name</key>
		<string>Azerbaijan</string>
		<key>sn</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BS</string>
		<key>id</key>
		<integer>12</integer>
		<key>name</key>
		<string>Bahamas</string>
		<key>sn</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BH</string>
		<key>id</key>
		<integer>13</integer>
		<key>name</key>
		<string>Bahrain</string>
		<key>sn</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BD</string>
		<key>id</key>
		<integer>14</integer>
		<key>name</key>
		<string>Bangladesh</string>
		<key>sn</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BB</string>
		<key>id</key>
		<integer>15</integer>
		<key>name</key>
		<string>Barbados</string>
		<key>sn</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BE</string>
		<key>id</key>
		<integer>17</integer>
		<key>name</key>
		<string>Belgium</string>
		<key>sn</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BZ</string>
		<key>id</key>
		<integer>18</integer>
		<key>name</key>
		<string>Belize</string>
		<key>sn</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BJ</string>
		<key>id</key>
		<integer>19</integer>
		<key>name</key>
		<string>Benin</string>
		<key>sn</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BT</string>
		<key>id</key>
		<integer>20</integer>
		<key>name</key>
		<string>Bhutan</string>
		<key>sn</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BO</string>
		<key>id</key>
		<integer>21</integer>
		<key>name</key>
		<string>Bolivia</string>
		<key>sn</key>
		<integer>21</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BA</string>
		<key>id</key>
		<integer>22</integer>
		<key>name</key>
		<string>Bosnia and Herzegovina</string>
		<key>sn</key>
		<integer>22</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BW</string>
		<key>id</key>
		<integer>23</integer>
		<key>name</key>
		<string>Botswana</string>
		<key>sn</key>
		<integer>23</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BR</string>
		<key>id</key>
		<integer>24</integer>
		<key>name</key>
		<string>Brazil</string>
		<key>sn</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BN</string>
		<key>id</key>
		<integer>25</integer>
		<key>name</key>
		<string>Brunei Darussalam</string>
		<key>sn</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BG</string>
		<key>id</key>
		<integer>26</integer>
		<key>name</key>
		<string>Bulgaria</string>
		<key>sn</key>
		<integer>26</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BF</string>
		<key>id</key>
		<integer>27</integer>
		<key>name</key>
		<string>Burkina Faso</string>
		<key>sn</key>
		<integer>27</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BI</string>
		<key>id</key>
		<integer>28</integer>
		<key>name</key>
		<string>Burundi</string>
		<key>sn</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KH</string>
		<key>id</key>
		<integer>29</integer>
		<key>name</key>
		<string>Cambodia</string>
		<key>sn</key>
		<integer>29</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CM</string>
		<key>id</key>
		<integer>30</integer>
		<key>name</key>
		<string>Cameroon</string>
		<key>sn</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CA</string>
		<key>id</key>
		<integer>31</integer>
		<key>name</key>
		<string>Canada</string>
		<key>sn</key>
		<integer>31</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CV</string>
		<key>id</key>
		<integer>32</integer>
		<key>name</key>
		<string>Cape Verde</string>
		<key>sn</key>
		<integer>32</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CF</string>
		<key>id</key>
		<integer>33</integer>
		<key>name</key>
		<string>Central African Republic</string>
		<key>sn</key>
		<integer>33</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TD</string>
		<key>id</key>
		<integer>34</integer>
		<key>name</key>
		<string>Chad</string>
		<key>sn</key>
		<integer>34</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CL</string>
		<key>id</key>
		<integer>35</integer>
		<key>name</key>
		<string>Chile</string>
		<key>sn</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CN</string>
		<key>id</key>
		<integer>36</integer>
		<key>name</key>
		<string>China</string>
		<key>sn</key>
		<integer>36</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CO</string>
		<key>id</key>
		<integer>37</integer>
		<key>name</key>
		<string>Colombia</string>
		<key>sn</key>
		<integer>37</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KM</string>
		<key>id</key>
		<integer>38</integer>
		<key>name</key>
		<string>Comoros</string>
		<key>sn</key>
		<integer>38</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CR</string>
		<key>id</key>
		<integer>41</integer>
		<key>name</key>
		<string>Costa Rica</string>
		<key>sn</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>HR</string>
		<key>id</key>
		<integer>43</integer>
		<key>name</key>
		<string>Croatia</string>
		<key>sn</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CY</string>
		<key>id</key>
		<integer>45</integer>
		<key>name</key>
		<string>Cyprus</string>
		<key>sn</key>
		<integer>41</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CZ</string>
		<key>id</key>
		<integer>46</integer>
		<key>name</key>
		<string>Czech Republic</string>
		<key>sn</key>
		<integer>42</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>DK</string>
		<key>id</key>
		<integer>47</integer>
		<key>name</key>
		<string>Denmark</string>
		<key>sn</key>
		<integer>43</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>DJ</string>
		<key>id</key>
		<integer>48</integer>
		<key>name</key>
		<string>Djibouti</string>
		<key>sn</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>DM</string>
		<key>id</key>
		<integer>49</integer>
		<key>name</key>
		<string>Dominica</string>
		<key>sn</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>DO</string>
		<key>id</key>
		<integer>50</integer>
		<key>name</key>
		<string>Dominican Republic</string>
		<key>sn</key>
		<integer>46</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>EC</string>
		<key>id</key>
		<integer>51</integer>
		<key>name</key>
		<string>Ecuador</string>
		<key>sn</key>
		<integer>47</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>EG</string>
		<key>id</key>
		<integer>52</integer>
		<key>name</key>
		<string>Egypt</string>
		<key>sn</key>
		<integer>48</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SV</string>
		<key>id</key>
		<integer>53</integer>
		<key>name</key>
		<string>El Salvador</string>
		<key>sn</key>
		<integer>49</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GQ</string>
		<key>id</key>
		<integer>54</integer>
		<key>name</key>
		<string>Equatorial Guinea</string>
		<key>sn</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ER</string>
		<key>id</key>
		<integer>55</integer>
		<key>name</key>
		<string>Eritrea</string>
		<key>sn</key>
		<integer>51</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>EE</string>
		<key>id</key>
		<integer>56</integer>
		<key>name</key>
		<string>Estonia</string>
		<key>sn</key>
		<integer>52</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ET</string>
		<key>id</key>
		<integer>57</integer>
		<key>name</key>
		<string>Ethiopia</string>
		<key>sn</key>
		<integer>53</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>FJ</string>
		<key>id</key>
		<integer>58</integer>
		<key>name</key>
		<string>Fiji</string>
		<key>sn</key>
		<integer>54</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>FI</string>
		<key>id</key>
		<integer>59</integer>
		<key>name</key>
		<string>Finland</string>
		<key>sn</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>FR</string>
		<key>id</key>
		<integer>60</integer>
		<key>name</key>
		<string>France</string>
		<key>sn</key>
		<integer>56</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GA</string>
		<key>id</key>
		<integer>61</integer>
		<key>name</key>
		<string>Gabon</string>
		<key>sn</key>
		<integer>57</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GM</string>
		<key>id</key>
		<integer>62</integer>
		<key>name</key>
		<string>Gambia</string>
		<key>sn</key>
		<integer>58</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GE</string>
		<key>id</key>
		<integer>63</integer>
		<key>name</key>
		<string>Georgia</string>
		<key>sn</key>
		<integer>59</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>DE</string>
		<key>id</key>
		<integer>64</integer>
		<key>name</key>
		<string>Germany</string>
		<key>sn</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GH</string>
		<key>id</key>
		<integer>65</integer>
		<key>name</key>
		<string>Ghana</string>
		<key>sn</key>
		<integer>61</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GR</string>
		<key>id</key>
		<integer>66</integer>
		<key>name</key>
		<string>Greece</string>
		<key>sn</key>
		<integer>62</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GD</string>
		<key>id</key>
		<integer>67</integer>
		<key>name</key>
		<string>Grenada</string>
		<key>sn</key>
		<integer>63</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GT</string>
		<key>id</key>
		<integer>68</integer>
		<key>name</key>
		<string>Guatemala</string>
		<key>sn</key>
		<integer>64</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GN</string>
		<key>id</key>
		<integer>69</integer>
		<key>name</key>
		<string>Guinea</string>
		<key>sn</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GW</string>
		<key>id</key>
		<integer>70</integer>
		<key>name</key>
		<string>Guinea-Bissau</string>
		<key>sn</key>
		<integer>66</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GY</string>
		<key>id</key>
		<integer>71</integer>
		<key>name</key>
		<string>Guyana</string>
		<key>sn</key>
		<integer>67</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>HT</string>
		<key>id</key>
		<integer>72</integer>
		<key>name</key>
		<string>Haiti</string>
		<key>sn</key>
		<integer>68</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>HN</string>
		<key>id</key>
		<integer>73</integer>
		<key>name</key>
		<string>Honduras</string>
		<key>sn</key>
		<integer>69</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>HU</string>
		<key>id</key>
		<integer>74</integer>
		<key>name</key>
		<string>Hungary</string>
		<key>sn</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>IS</string>
		<key>id</key>
		<integer>75</integer>
		<key>name</key>
		<string>Iceland</string>
		<key>sn</key>
		<integer>71</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>IN</string>
		<key>id</key>
		<integer>76</integer>
		<key>name</key>
		<string>India</string>
		<key>sn</key>
		<integer>72</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ID</string>
		<key>id</key>
		<integer>77</integer>
		<key>name</key>
		<string>Indonesia</string>
		<key>sn</key>
		<integer>73</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>IE</string>
		<key>id</key>
		<integer>80</integer>
		<key>name</key>
		<string>Ireland</string>
		<key>sn</key>
		<integer>74</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>IL</string>
		<key>id</key>
		<integer>81</integer>
		<key>name</key>
		<string>Israel</string>
		<key>sn</key>
		<integer>75</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>IT</string>
		<key>id</key>
		<integer>82</integer>
		<key>name</key>
		<string>Italy</string>
		<key>sn</key>
		<integer>76</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>JM</string>
		<key>id</key>
		<integer>83</integer>
		<key>name</key>
		<string>Jamaica</string>
		<key>sn</key>
		<integer>77</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>JP</string>
		<key>id</key>
		<integer>84</integer>
		<key>name</key>
		<string>Japan</string>
		<key>sn</key>
		<integer>78</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>JO</string>
		<key>id</key>
		<integer>85</integer>
		<key>name</key>
		<string>Jordan</string>
		<key>sn</key>
		<integer>79</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KZ</string>
		<key>id</key>
		<integer>86</integer>
		<key>name</key>
		<string>Kazakhstan</string>
		<key>sn</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KE</string>
		<key>id</key>
		<integer>87</integer>
		<key>name</key>
		<string>Kenya</string>
		<key>sn</key>
		<integer>81</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KI</string>
		<key>id</key>
		<integer>88</integer>
		<key>name</key>
		<string>Kiribati</string>
		<key>sn</key>
		<integer>82</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KR</string>
		<key>id</key>
		<integer>90</integer>
		<key>name</key>
		<string>Korea, South</string>
		<key>sn</key>
		<integer>83</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KW</string>
		<key>id</key>
		<integer>91</integer>
		<key>name</key>
		<string>Kuwait</string>
		<key>sn</key>
		<integer>84</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KG</string>
		<key>id</key>
		<integer>92</integer>
		<key>name</key>
		<string>Kyrgyzstan</string>
		<key>sn</key>
		<integer>85</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LA</string>
		<key>id</key>
		<integer>93</integer>
		<key>name</key>
		<string>Laos</string>
		<key>sn</key>
		<integer>86</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LV</string>
		<key>id</key>
		<integer>94</integer>
		<key>name</key>
		<string>Latvia</string>
		<key>sn</key>
		<integer>87</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LB</string>
		<key>id</key>
		<integer>95</integer>
		<key>name</key>
		<string>Lebanon</string>
		<key>sn</key>
		<integer>88</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LS</string>
		<key>id</key>
		<integer>96</integer>
		<key>name</key>
		<string>Lesotho</string>
		<key>sn</key>
		<integer>89</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LR</string>
		<key>id</key>
		<integer>97</integer>
		<key>name</key>
		<string>Liberia</string>
		<key>sn</key>
		<integer>90</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LY</string>
		<key>id</key>
		<integer>98</integer>
		<key>name</key>
		<string>Libya</string>
		<key>sn</key>
		<integer>91</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LI</string>
		<key>id</key>
		<integer>99</integer>
		<key>name</key>
		<string>Liechtenstein</string>
		<key>sn</key>
		<integer>92</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LT</string>
		<key>id</key>
		<integer>100</integer>
		<key>name</key>
		<string>Lithuania</string>
		<key>sn</key>
		<integer>93</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LU</string>
		<key>id</key>
		<integer>101</integer>
		<key>name</key>
		<string>Luxembourg</string>
		<key>sn</key>
		<integer>94</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MK</string>
		<key>id</key>
		<integer>102</integer>
		<key>name</key>
		<string>Macedonia</string>
		<key>sn</key>
		<integer>95</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MG</string>
		<key>id</key>
		<integer>103</integer>
		<key>name</key>
		<string>Madagascar</string>
		<key>sn</key>
		<integer>96</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MW</string>
		<key>id</key>
		<integer>104</integer>
		<key>name</key>
		<string>Malawi</string>
		<key>sn</key>
		<integer>97</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MY</string>
		<key>id</key>
		<integer>105</integer>
		<key>name</key>
		<string>Malaysia</string>
		<key>sn</key>
		<integer>98</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MV</string>
		<key>id</key>
		<integer>106</integer>
		<key>name</key>
		<string>Maldives</string>
		<key>sn</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ML</string>
		<key>id</key>
		<integer>107</integer>
		<key>name</key>
		<string>Mali</string>
		<key>sn</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MT</string>
		<key>id</key>
		<integer>108</integer>
		<key>name</key>
		<string>Malta</string>
		<key>sn</key>
		<integer>101</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MH</string>
		<key>id</key>
		<integer>109</integer>
		<key>name</key>
		<string>Marshall Islands</string>
		<key>sn</key>
		<integer>102</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MR</string>
		<key>id</key>
		<integer>110</integer>
		<key>name</key>
		<string>Mauritania</string>
		<key>sn</key>
		<integer>103</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MU</string>
		<key>id</key>
		<integer>111</integer>
		<key>name</key>
		<string>Mauritius</string>
		<key>sn</key>
		<integer>104</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MX</string>
		<key>id</key>
		<integer>112</integer>
		<key>name</key>
		<string>Mexico</string>
		<key>sn</key>
		<integer>105</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MD</string>
		<key>id</key>
		<integer>113</integer>
		<key>name</key>
		<string>Moldova</string>
		<key>sn</key>
		<integer>106</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MC</string>
		<key>id</key>
		<integer>114</integer>
		<key>name</key>
		<string>Monaco</string>
		<key>sn</key>
		<integer>107</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MN</string>
		<key>id</key>
		<integer>115</integer>
		<key>name</key>
		<string>Mongolia</string>
		<key>sn</key>
		<integer>108</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MA</string>
		<key>id</key>
		<integer>116</integer>
		<key>name</key>
		<string>Morocco</string>
		<key>sn</key>
		<integer>109</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MZ</string>
		<key>id</key>
		<integer>117</integer>
		<key>name</key>
		<string>Mozambique</string>
		<key>sn</key>
		<integer>110</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NA</string>
		<key>id</key>
		<integer>119</integer>
		<key>name</key>
		<string>Namibia</string>
		<key>sn</key>
		<integer>111</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NR</string>
		<key>id</key>
		<integer>120</integer>
		<key>name</key>
		<string>Nauru</string>
		<key>sn</key>
		<integer>112</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NP</string>
		<key>id</key>
		<integer>121</integer>
		<key>name</key>
		<string>Nepal</string>
		<key>sn</key>
		<integer>113</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NL</string>
		<key>id</key>
		<integer>122</integer>
		<key>name</key>
		<string>Netherlands</string>
		<key>sn</key>
		<integer>114</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NZ</string>
		<key>id</key>
		<integer>123</integer>
		<key>name</key>
		<string>New Zealand</string>
		<key>sn</key>
		<integer>115</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NI</string>
		<key>id</key>
		<integer>124</integer>
		<key>name</key>
		<string>Nicaragua</string>
		<key>sn</key>
		<integer>116</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NE</string>
		<key>id</key>
		<integer>125</integer>
		<key>name</key>
		<string>Niger</string>
		<key>sn</key>
		<integer>117</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NG</string>
		<key>id</key>
		<integer>126</integer>
		<key>name</key>
		<string>Nigeria</string>
		<key>sn</key>
		<integer>118</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NO</string>
		<key>id</key>
		<integer>127</integer>
		<key>name</key>
		<string>Norway</string>
		<key>sn</key>
		<integer>119</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>OM</string>
		<key>id</key>
		<integer>128</integer>
		<key>name</key>
		<string>Oman</string>
		<key>sn</key>
		<integer>120</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PK</string>
		<key>id</key>
		<integer>129</integer>
		<key>name</key>
		<string>Pakistan</string>
		<key>sn</key>
		<integer>121</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PW</string>
		<key>id</key>
		<integer>130</integer>
		<key>name</key>
		<string>Palau</string>
		<key>sn</key>
		<integer>122</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PA</string>
		<key>id</key>
		<integer>131</integer>
		<key>name</key>
		<string>Panama</string>
		<key>sn</key>
		<integer>123</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PG</string>
		<key>id</key>
		<integer>132</integer>
		<key>name</key>
		<string>Papua New Guinea</string>
		<key>sn</key>
		<integer>124</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PY</string>
		<key>id</key>
		<integer>133</integer>
		<key>name</key>
		<string>Paraguay</string>
		<key>sn</key>
		<integer>125</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PE</string>
		<key>id</key>
		<integer>134</integer>
		<key>name</key>
		<string>Peru</string>
		<key>sn</key>
		<integer>126</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PH</string>
		<key>id</key>
		<integer>135</integer>
		<key>name</key>
		<string>Philippines</string>
		<key>sn</key>
		<integer>127</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PL</string>
		<key>id</key>
		<integer>136</integer>
		<key>name</key>
		<string>Poland</string>
		<key>sn</key>
		<integer>128</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PT</string>
		<key>id</key>
		<integer>137</integer>
		<key>name</key>
		<string>Portugal</string>
		<key>sn</key>
		<integer>129</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>QA</string>
		<key>id</key>
		<integer>138</integer>
		<key>name</key>
		<string>Qatar</string>
		<key>sn</key>
		<integer>130</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>RO</string>
		<key>id</key>
		<integer>139</integer>
		<key>name</key>
		<string>Romania</string>
		<key>sn</key>
		<integer>131</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>RU</string>
		<key>id</key>
		<integer>140</integer>
		<key>name</key>
		<string>Russia</string>
		<key>sn</key>
		<integer>132</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>RW</string>
		<key>id</key>
		<integer>141</integer>
		<key>name</key>
		<string>Rwanda</string>
		<key>sn</key>
		<integer>133</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KN</string>
		<key>id</key>
		<integer>142</integer>
		<key>name</key>
		<string>St. Kitts and Nevis</string>
		<key>sn</key>
		<integer>134</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LC</string>
		<key>id</key>
		<integer>143</integer>
		<key>name</key>
		<string>St. Lucia</string>
		<key>sn</key>
		<integer>135</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>VC</string>
		<key>id</key>
		<integer>144</integer>
		<key>name</key>
		<string>Saint Vincent &amp; the Grenadines</string>
		<key>sn</key>
		<integer>136</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>WS</string>
		<key>id</key>
		<integer>145</integer>
		<key>name</key>
		<string>Samoa</string>
		<key>sn</key>
		<integer>137</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SM</string>
		<key>id</key>
		<integer>146</integer>
		<key>name</key>
		<string>San Marino</string>
		<key>sn</key>
		<integer>138</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ST</string>
		<key>id</key>
		<integer>147</integer>
		<key>name</key>
		<string>Sao Tome and Principe</string>
		<key>sn</key>
		<integer>139</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SA</string>
		<key>id</key>
		<integer>148</integer>
		<key>name</key>
		<string>Saudi Arabia</string>
		<key>sn</key>
		<integer>140</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SN</string>
		<key>id</key>
		<integer>149</integer>
		<key>name</key>
		<string>Senegal</string>
		<key>sn</key>
		<integer>141</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SC</string>
		<key>id</key>
		<integer>150</integer>
		<key>name</key>
		<string>Seychelles</string>
		<key>sn</key>
		<integer>142</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SL</string>
		<key>id</key>
		<integer>151</integer>
		<key>name</key>
		<string>Sierra Leone</string>
		<key>sn</key>
		<integer>143</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SG</string>
		<key>id</key>
		<integer>152</integer>
		<key>name</key>
		<string>Singapore</string>
		<key>sn</key>
		<integer>144</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SK</string>
		<key>id</key>
		<integer>153</integer>
		<key>name</key>
		<string>Slovakia</string>
		<key>sn</key>
		<integer>145</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SI</string>
		<key>id</key>
		<integer>154</integer>
		<key>name</key>
		<string>Slovenia</string>
		<key>sn</key>
		<integer>146</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SB</string>
		<key>id</key>
		<integer>155</integer>
		<key>name</key>
		<string>Solomon Islands</string>
		<key>sn</key>
		<integer>147</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SO</string>
		<key>id</key>
		<integer>156</integer>
		<key>name</key>
		<string>Somalia</string>
		<key>sn</key>
		<integer>148</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ZA</string>
		<key>id</key>
		<integer>157</integer>
		<key>name</key>
		<string>South Africa</string>
		<key>sn</key>
		<integer>149</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ES</string>
		<key>id</key>
		<integer>158</integer>
		<key>name</key>
		<string>Spain</string>
		<key>sn</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>LK</string>
		<key>id</key>
		<integer>159</integer>
		<key>name</key>
		<string>Sri Lanka</string>
		<key>sn</key>
		<integer>151</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SD</string>
		<key>id</key>
		<integer>160</integer>
		<key>name</key>
		<string>Sudan</string>
		<key>sn</key>
		<integer>152</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SR</string>
		<key>id</key>
		<integer>161</integer>
		<key>name</key>
		<string>Suriname</string>
		<key>sn</key>
		<integer>153</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SZ</string>
		<key>id</key>
		<integer>162</integer>
		<key>name</key>
		<string>Swaziland</string>
		<key>sn</key>
		<integer>154</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SE</string>
		<key>id</key>
		<integer>163</integer>
		<key>name</key>
		<string>Sweden</string>
		<key>sn</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CH</string>
		<key>id</key>
		<integer>164</integer>
		<key>name</key>
		<string>Switzerland</string>
		<key>sn</key>
		<integer>156</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TW</string>
		<key>id</key>
		<integer>166</integer>
		<key>name</key>
		<string>Taiwan</string>
		<key>sn</key>
		<integer>157</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TJ</string>
		<key>id</key>
		<integer>167</integer>
		<key>name</key>
		<string>Tajikistan</string>
		<key>sn</key>
		<integer>158</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TZ</string>
		<key>id</key>
		<integer>168</integer>
		<key>name</key>
		<string>Tanzania</string>
		<key>sn</key>
		<integer>159</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TH</string>
		<key>id</key>
		<integer>169</integer>
		<key>name</key>
		<string>Thailand</string>
		<key>sn</key>
		<integer>160</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TG</string>
		<key>id</key>
		<integer>170</integer>
		<key>name</key>
		<string>Togo</string>
		<key>sn</key>
		<integer>161</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TO</string>
		<key>id</key>
		<integer>171</integer>
		<key>name</key>
		<string>Tonga</string>
		<key>sn</key>
		<integer>162</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TT</string>
		<key>id</key>
		<integer>172</integer>
		<key>name</key>
		<string>Trinidad &amp; Tobago</string>
		<key>sn</key>
		<integer>163</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TN</string>
		<key>id</key>
		<integer>173</integer>
		<key>name</key>
		<string>Tunisia</string>
		<key>sn</key>
		<integer>164</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TR</string>
		<key>id</key>
		<integer>174</integer>
		<key>name</key>
		<string>Turkey</string>
		<key>sn</key>
		<integer>165</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TM</string>
		<key>id</key>
		<integer>175</integer>
		<key>name</key>
		<string>Turkmenistan</string>
		<key>sn</key>
		<integer>166</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TV</string>
		<key>id</key>
		<integer>176</integer>
		<key>name</key>
		<string>Tuvalu</string>
		<key>sn</key>
		<integer>167</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>UG</string>
		<key>id</key>
		<integer>177</integer>
		<key>name</key>
		<string>Uganda</string>
		<key>sn</key>
		<integer>168</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>UA</string>
		<key>id</key>
		<integer>178</integer>
		<key>name</key>
		<string>Ukraine</string>
		<key>sn</key>
		<integer>169</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AE</string>
		<key>id</key>
		<integer>179</integer>
		<key>name</key>
		<string>United Arab Emirates</string>
		<key>sn</key>
		<integer>170</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GB</string>
		<key>id</key>
		<integer>180</integer>
		<key>name</key>
		<string>United Kingdom</string>
		<key>sn</key>
		<integer>171</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>UY</string>
		<key>id</key>
		<integer>181</integer>
		<key>name</key>
		<string>Uruguay</string>
		<key>sn</key>
		<integer>172</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>UZ</string>
		<key>id</key>
		<integer>182</integer>
		<key>name</key>
		<string>Uzbekistan</string>
		<key>sn</key>
		<integer>173</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>VU</string>
		<key>id</key>
		<integer>183</integer>
		<key>name</key>
		<string>Vanuatu</string>
		<key>sn</key>
		<integer>174</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>VE</string>
		<key>id</key>
		<integer>184</integer>
		<key>name</key>
		<string>Venezuela</string>
		<key>sn</key>
		<integer>175</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>VN</string>
		<key>id</key>
		<integer>185</integer>
		<key>name</key>
		<string>Vietnam</string>
		<key>sn</key>
		<integer>176</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>YE</string>
		<key>id</key>
		<integer>186</integer>
		<key>name</key>
		<string>Yemen</string>
		<key>sn</key>
		<integer>177</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CS</string>
		<key>id</key>
		<integer>187</integer>
		<key>name</key>
		<string>Serbia and Montenegro (former Yugoslavia)</string>
		<key>sn</key>
		<integer>178</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CD</string>
		<key>id</key>
		<integer>188</integer>
		<key>name</key>
		<string>Zaire</string>
		<key>sn</key>
		<integer>179</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ZM</string>
		<key>id</key>
		<integer>189</integer>
		<key>name</key>
		<string>Zambia</string>
		<key>sn</key>
		<integer>180</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PR</string>
		<key>id</key>
		<integer>191</integer>
		<key>name</key>
		<string>Puerto Rico</string>
		<key>sn</key>
		<integer>181</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>HK</string>
		<key>id</key>
		<integer>194</integer>
		<key>name</key>
		<string>Hong Kong SAR</string>
		<key>sn</key>
		<integer>182</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MO</string>
		<key>id</key>
		<integer>195</integer>
		<key>name</key>
		<string>Macao SAR</string>
		<key>sn</key>
		<integer>183</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AW</string>
		<key>id</key>
		<integer>196</integer>
		<key>name</key>
		<string>Aruba</string>
		<key>sn</key>
		<integer>184</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BM</string>
		<key>id</key>
		<integer>197</integer>
		<key>name</key>
		<string>Bermuda</string>
		<key>sn</key>
		<integer>185</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AI</string>
		<key>id</key>
		<integer>201</integer>
		<key>name</key>
		<string>Anguilla</string>
		<key>sn</key>
		<integer>186</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>IO</string>
		<key>id</key>
		<integer>203</integer>
		<key>name</key>
		<string>British Indian Ocean Territory</string>
		<key>sn</key>
		<integer>187</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>KY</string>
		<key>id</key>
		<integer>204</integer>
		<key>name</key>
		<string>Cayman Islands</string>
		<key>sn</key>
		<integer>188</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CK</string>
		<key>id</key>
		<integer>205</integer>
		<key>name</key>
		<string>Cook Islands</string>
		<key>sn</key>
		<integer>189</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>FK</string>
		<key>id</key>
		<integer>206</integer>
		<key>name</key>
		<string>Falkland Islands</string>
		<key>sn</key>
		<integer>190</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>FO</string>
		<key>id</key>
		<integer>207</integer>
		<key>name</key>
		<string>Faroe Islands</string>
		<key>sn</key>
		<integer>191</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>FM</string>
		<key>id</key>
		<integer>208</integer>
		<key>name</key>
		<string>Federated States of Micronesia</string>
		<key>sn</key>
		<integer>192</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GF</string>
		<key>id</key>
		<integer>209</integer>
		<key>name</key>
		<string>French Guiana</string>
		<key>sn</key>
		<integer>193</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PF</string>
		<key>id</key>
		<integer>210</integer>
		<key>name</key>
		<string>French Polynesia</string>
		<key>sn</key>
		<integer>194</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GI</string>
		<key>id</key>
		<integer>211</integer>
		<key>name</key>
		<string>Gibraltar</string>
		<key>sn</key>
		<integer>195</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GL</string>
		<key>id</key>
		<integer>212</integer>
		<key>name</key>
		<string>Greenland</string>
		<key>sn</key>
		<integer>196</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GU</string>
		<key>id</key>
		<integer>213</integer>
		<key>name</key>
		<string>Guam</string>
		<key>sn</key>
		<integer>197</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>YT</string>
		<key>id</key>
		<integer>215</integer>
		<key>name</key>
		<string>Mayotte</string>
		<key>sn</key>
		<integer>198</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MS</string>
		<key>id</key>
		<integer>217</integer>
		<key>name</key>
		<string>Montserrat</string>
		<key>sn</key>
		<integer>199</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AN</string>
		<key>id</key>
		<integer>218</integer>
		<key>name</key>
		<string>Netherlands Antilles</string>
		<key>sn</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NC</string>
		<key>id</key>
		<integer>219</integer>
		<key>name</key>
		<string>New Caledonia</string>
		<key>sn</key>
		<integer>201</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NU</string>
		<key>id</key>
		<integer>220</integer>
		<key>name</key>
		<string>Niue</string>
		<key>sn</key>
		<integer>202</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>NF</string>
		<key>id</key>
		<integer>221</integer>
		<key>name</key>
		<string>Norfolk Island</string>
		<key>sn</key>
		<integer>203</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MP</string>
		<key>id</key>
		<integer>222</integer>
		<key>name</key>
		<string>Northern Mariana Islands</string>
		<key>sn</key>
		<integer>204</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PN</string>
		<key>id</key>
		<integer>223</integer>
		<key>name</key>
		<string>Pitcairn</string>
		<key>sn</key>
		<integer>205</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>RE</string>
		<key>id</key>
		<integer>224</integer>
		<key>name</key>
		<string>Reunion</string>
		<key>sn</key>
		<integer>206</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MQ</string>
		<key>id</key>
		<integer>225</integer>
		<key>name</key>
		<string>Martinique</string>
		<key>sn</key>
		<integer>207</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GS</string>
		<key>id</key>
		<integer>226</integer>
		<key>name</key>
		<string>South Georgia</string>
		<key>sn</key>
		<integer>208</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PM</string>
		<key>id</key>
		<integer>229</integer>
		<key>name</key>
		<string>St. Pierre and Miquelon</string>
		<key>sn</key>
		<integer>209</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TK</string>
		<key>id</key>
		<integer>230</integer>
		<key>name</key>
		<string>Tokelau</string>
		<key>sn</key>
		<integer>210</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TC</string>
		<key>id</key>
		<integer>231</integer>
		<key>name</key>
		<string>Turks and Caicos Islands</string>
		<key>sn</key>
		<integer>211</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>VG</string>
		<key>id</key>
		<integer>232</integer>
		<key>name</key>
		<string>Virgin Islands (U.K.)</string>
		<key>sn</key>
		<integer>212</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>VI</string>
		<key>id</key>
		<integer>233</integer>
		<key>name</key>
		<string>Virgin Islands (U.S.)</string>
		<key>sn</key>
		<integer>213</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>WF</string>
		<key>id</key>
		<integer>234</integer>
		<key>name</key>
		<string>Wallis and Futuna Islands</string>
		<key>sn</key>
		<integer>214</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>PS</string>
		<key>id</key>
		<integer>235</integer>
		<key>name</key>
		<string>Palestine</string>
		<key>sn</key>
		<integer>215</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AS</string>
		<key>id</key>
		<integer>236</integer>
		<key>name</key>
		<string>American Samoa</string>
		<key>sn</key>
		<integer>216</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>AQ</string>
		<key>id</key>
		<integer>237</integer>
		<key>name</key>
		<string>Antarctica</string>
		<key>sn</key>
		<integer>217</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CX</string>
		<key>id</key>
		<integer>238</integer>
		<key>name</key>
		<string>Christmas Island</string>
		<key>sn</key>
		<integer>218</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CC</string>
		<key>id</key>
		<integer>239</integer>
		<key>name</key>
		<string>Cocos Islands</string>
		<key>sn</key>
		<integer>219</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GP</string>
		<key>id</key>
		<integer>240</integer>
		<key>name</key>
		<string>Guadeloupe</string>
		<key>sn</key>
		<integer>220</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>GG</string>
		<key>id</key>
		<integer>241</integer>
		<key>name</key>
		<string>Guernsey</string>
		<key>sn</key>
		<integer>221</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>IM</string>
		<key>id</key>
		<integer>242</integer>
		<key>name</key>
		<string>Isle of Man</string>
		<key>sn</key>
		<integer>222</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>JE</string>
		<key>id</key>
		<integer>243</integer>
		<key>name</key>
		<string>Jersey</string>
		<key>sn</key>
		<integer>223</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>ME</string>
		<key>id</key>
		<integer>244</integer>
		<key>name</key>
		<string>Montenegro</string>
		<key>sn</key>
		<integer>224</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>BL</string>
		<key>id</key>
		<integer>245</integer>
		<key>name</key>
		<string>Saint Barthelemy</string>
		<key>sn</key>
		<integer>225</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>SH</string>
		<key>id</key>
		<integer>246</integer>
		<key>name</key>
		<string>Saint Helena</string>
		<key>sn</key>
		<integer>226</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>MF</string>
		<key>id</key>
		<integer>247</integer>
		<key>name</key>
		<string>Saint Martin</string>
		<key>sn</key>
		<integer>227</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>RS</string>
		<key>id</key>
		<integer>248</integer>
		<key>name</key>
		<string>Serbia</string>
		<key>sn</key>
		<integer>228</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>TL</string>
		<key>id</key>
		<integer>249</integer>
		<key>name</key>
		<string>Timor-Leste</string>
		<key>sn</key>
		<integer>229</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>CW</string>
		<key>id</key>
		<integer>250</integer>
		<key>name</key>
		<string>Curaçao</string>
		<key>sn</key>
		<integer>230</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>US</string>
		<key>id</key>
		<integer>259</integer>
		<key>name</key>
		<string>United States</string>
		<key>sn</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
